# Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
venv/
env/
ENV/

# Distribution/build
build/
dist/
*.egg-info/
.eggs/

# Editor & OS
.vscode/
*.log

# Database
db.sqlite3
db.sqlite3-journal
*.db

# Jupyter
.ipynb_checkpoints

# Test/cache
.coverage
.pytest_cache/

# Project-Specific
reference_docs
CLAUDE.md
.claude